:root{
  --mainBlue: #141555;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #222222;
  --mainGrey: #616366;
  --mainYellow: #ffa400;
  --darkYellow: #553a05;
}
body{
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color:var(--mainDark) !important;
}
.text-title{
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-item-blue{
  color: var(--mainBlue);
}
.text-item-bright{
  color: var(--lightBlue);
}

.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.6rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.text-field-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.6rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}



.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
/* Google Font CSS
font-family: 'Oswald', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Darker Grotesque', sans-serif;
*/